.speakerWrapper{

  display: flex;
  justify-content: center;
  flex-direction: column;

  .speaker{
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    background: white;
    padding: 23px 14px;
    box-shadow: 0 4px 30px 10px rgba(251, 110, 164, 0.27);

    .speakerAvatar{
      width: 204px;
    }

    .buttonBar{
      display: grid;
      grid-column-gap: 12px;
      grid-auto-flow: column;
      grid-template-columns: auto 1fr;
      justify-items: flex-start;
    }

    p{
      margin-bottom: 12px;
    }
  }

}
