.badges{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  margin: auto;

  img{
    grid-row: 1;
    grid-column: 1/3;
  }

  .badge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
      width: 70px;
    }

    .stars{
      width: 110px;
      margin-bottom: 8px;
    }

    div{
      margin-bottom: 4px;
      color: white;
    }
  }



  .provenBadge{
    grid-row: 1;
    grid-column: 2;
  }

  .googleBadge{
    grid-row: 1;
    grid-column: 1;
  }
}

