.cta {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 954px;
  margin: auto;

  img {
    grid-row: 1;
    grid-column: 1;
  }

  .content {
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h1{
    margin-bottom: 12px;
  }

  p{
    margin-bottom: 8px;
  }

  h1,p {
    color: white;
    text-align: center;
  }
}
