.layout * {
  font-family: "Oxygen", sans-serif
}

.layout h2{
  font-weight: bold;
}

.layout h1{
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: -1.2px;
  color: #212121;
}

.layout p{
  line-height: 1.38;
  letter-spacing: normal;
  color: #333333;
  font-size: 16px;
}

.layout a{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.33px;
  color: #212121;
}

.layout button{
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #ffffff;
}
