.navigation {

  display: grid;
  padding: 48px 0;
  grid-template-columns: auto 1fr;
  justify-items: flex-end;
  align-items: center;
  max-width: 1300px;
  margin: auto;

  .navItems{
    display: grid;
    grid-column-gap: 24px;
    grid-auto-flow: column;
    align-items: center;
  }

  .activeItem{
    color: #59ceed;
  }

  .logo {
    width: 245px;
  }


}

