.footer{
  position: relative;
  margin-top: 100px;
}

.footer:before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 765px;
  background-image: url('./group.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom left;
  z-index: -2;
}

.footer:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 765px;
  background-image: url('./wave.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
  z-index: -2;
}

